:root {
    --custom-color: black;
    --padding: 20px;
    --medium-font-size: 1.2em;
    --big-font-size: 2.5em;
    --border-radius: 5px;
    --input-padding: 10px 20px;
    --margin-bottom: 20px;
    --border: 1px solid black;
    --margin-top: 100px;
}
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 15px;
    background:url('./bkgd\ img/image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 500px;
    position: relative;
    margin-top: 20px;
} 

.container {
    width: 1200px;
    max-width: 100%;
    min-height: 400px;
    margin: 0 auto;
}

.form {
    width: 60%;
    margin: 0 auto;
}

.form-head {
    text-align: center;
    color: #f6eff1;
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group-label {
    color: #f6eff1;
    font-size: var(--medium-font-size);
    margin-bottom: var(--margin-bottom);
    margin-top: 30px;
}

.btns{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
}
button {
    color:black;
    margin-top: 30px;
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: var(--border);
    cursor: pointer;
    font-size: var(--medium-font-size);
    transition: 0.3s;
    background-color:#c44a6d;
    
}

button:hover {
    background: black;
    color: eb0f5c;
}

input {
    border-radius: var(--border-radius);
    margin-bottom: var(--margin-bottom);
    padding: var(--input-padding);
    border: var(--border);
    color: var(--custom-color);
}

input::placeholder {
    font-size: smaller;
    color: gray;
}

input:focus {
    outline-color: var(--custom-color);
    ;
}

select {
    padding: var(--input-padding);
    border-radius: var(--border-radius);
    border: var(--border);
    color: #616161;
}

.logo {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: hidden;
}

.logo img {
    height: 100%;
    width: 100%;
    position: right;
}
u{
  color: whitesmoke;
}
p{
  color: whitesmoke;
}
